h1 {
  float: left;
}

.left {
  float: left;
  margin: 1em;
}

.right {
  float: right;
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 1em auto;
  padding: 1em;
  border: 1px dashed black;
}

/******************* NAV BAR *******************/

.nav-bar {
  width: 100%;
  background-color: yellow;
  height: 50px;
}

.nav-bar a {
  color: gray;
  text-decoration: none;
}

/******************* APP TITLE *******************/

.app-title {

}

/******************* SESSIONS *******************/

.error {
  color: red;
}

/************* ALBUMS & PHOTOS *************/
.scrapbook-container {
  clear: both;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
/*  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  clear: both;*/
}

/*.other-container {
  display: inline-block;
  margin: auto;
  /*display: flex;
  align-items: center;
  clear: both;*/
/*}*/



.album-nav {
  width: 100%;
}

/******************* ALBUMS *******************/
.album-nav a {
  color: black;
  text-decoration: none;
}

.album {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 250px;
  margin: 1em;
  border: 1px solid black;
  /*How do I center these on the page?*/
}

.album-title {
  margin: 0px 24px;
}

.picture {
  height: 200px;
  width: 200px;
  margin: .5em auto;
  border: 1px dashed black;
}

.picture img {
  width: 200px;
  height: auto;
}

/******************* SINGLE ALBUM *******************/

.photo-box {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 250px;
  margin: 1em;
  border: 1px solid black;
  /*How do I center these on the page?*/
}