h1 {
  float: left;
}

.left {
  float: left;
  margin: 1em;
}

.right {
  float: right;
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 1em auto;
  padding: 1em;
  border: 1px dashed black;
}

/******************* NAV BAR *******************/



/******************* APP TITLE *******************/

.app-title {

}

/******************* SESSIONS *******************/

.error {
  color: red;
}

/************* ALBUMS & PHOTOS *************/
.scrapbook-container {
  clear: both;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
/*  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  clear: both;*/
}

/*.other-container {
  display: inline-block;
  margin: auto;
  /*display: flex;
  align-items: center;
  clear: both;*/
/*}*/



.album-nav {
  width: 100%;
}

/******************* ALBUMS *******************/
.album-nav a {
  color: black;
  text-decoration: none;
}

