.polaroid {
  background-color: #FEFFFF;
  width: 216px;
  height: 250px;
}

.album {
  position: relative;
  display: inline-block;
/*  height: 250px;
  width: 250px;*/
  margin: 1em;
  border: 1px solid black;
  /*How do I center these on the page?*/
}

.album-title {
  margin: 0px 24px;
}

.picture {
  height: 200px;
  width: 200px;
  margin: .5em auto;
}

.album a {
  color: black;
}

.picture img {
  width: 200px;
  height: auto;
}

/******************* SINGLE ALBUM *******************/

.photo-box {
  position: relative;
  display: inline-block;
  height: 250px;
  width: 250px;
  margin: 1em;
  border: 1px solid black;
  /*How do I center these on the page?*/
}