  <a href="#">
    <div class="album">
      <div class="picture">
        <img src="<%= album.cover %>" />
      </div>
      <p class="album-title"><%= album.title %></p>
      <!-- need to also pass in a tag! -->
    </div>
  </a>