<div class="polaroid album" class="polaroid">
  <div  id="<%= photo.id %>">
    <a href="<%= photo.instagram_url %>" target="newtab">
      <div class="picture">
        <img src="<%=  photo.url %>" />
      </div>
    </a>
  </div>
</div>