<div class="container">
  <div class="album-header">
    <h2><%= album.title %>!</h2>
    <p><%= album.tag.name %></p>
  </div>
</div>

<div class="container">

  <div class="album-nav">
    <h3 class="right">
      <a class="delete-album" href="/delete/<%= album.id %>">Delete Album</a>
    </h3>
  </div>

  <% album.photos.each do |photo| %>
    <%= erb :"/albums/_photo", locals: { photo: photo } %>
  <% end %>
</div>

