<div class="container banner">
  <div class="album-header">
    <h1><b><%= album.title %><b></h1>
    <h2>#<%= album.tag.name %></h2>
  </div>
</div>

<div class="container dark-background">
  <div class="album-nav">
    <% if can_edit %>
      <%= erb :"albums/_edit_nav", locals: { album: album } %>
    <% end %>
  </div>

  <div class="scrapbook-container">
    <% photos.each do |photo| %>
      <%= erb :"/albums/_photo", locals: { photo: photo } %>
    <% end %>
  </div>
</div>

