<div class="container" id="create-album">
  <form action="/albums/new" method: "post">
    <p>
      <input type="text" name="title" placeholder="Album Title" />
    </p>
    <p>
      <input type="text" name="tag" placeholder="Tag" />
    </p>
    <input type="submit" value="Add Album"
  </form>
</div>