<div class="container">
  <form action="/albums/new" method: "post">
    <input type="text" name="title" placeholder="Album Title" />
    <input type="text" name="tag" placeholder="Tag" />
    <input type="submit" value="Add Album"
  </form>
</div>