<div class="container">
  <div class="album-header">
    <h2><%= album.title %>!</h2>
    <p><%= album.tag.name %></p>
  </div>
</div>

<div class="container all-album-photos">
  <% album.photos.each do |photo| %>
    <%= erb :"/albums/_photo", locals: { photo: photo } %>
  <% end %>
</div>

