<div class="container">
  <h3>Log In</h3>
  <form action="/user" method="put">
    <p>
      <input type="text" name="user[username]" placeholder="username" />
    </p>
    <p>
      <input type="password" name="user[password_hash]" placeholder="password" />
    </p>

    <input type="submit" value="Log In" />
  </form>
</div>