
<div class="container">
  <h3>Register</h3>
  <form action="/user" method="post">
    <p><input type="text" name="user[username]" placeholder="Username" /></p>
    <p><input type="text" name="user[email]" placeholder="Email" /></p>
    <p><input type="password" name="user[password_hash]" placeholder="Password" /></p>
    <!-- Why isn't the placeholder showing up for all the options? -->
    <!-- The submit button also isn't registering with the right name... -->

    <input type="submit" value="Register" />
  </form>
</div>