<div class="container welcome">
  <h2>welcome, <%= user.username %>!</h2>
</div>

<div class="container albums">
  <div class="album-nav">
    <h3 class="left">Albums</h3>
    <h3 class="right">
      <a class="add-album" href="/albums/new">Add Album</a>
    </h3>
  </div>

  <div class="scrapbook-container">
    <% albums.each do |album| %>
      <%= erb :"/albums/_album", locals: { album: album } %>
    <% end %>
  </div>

</div>

<div id="album-template" style="display: none;">
  <a>
    <div class="album" id="#">
      <div class="picture">
        <img src="#" />
      </div>
      <p class="album-title">
        <b>Album Title: </b>
        <span class="tag">
          Album Tag
        </span>
      </p>
    </div>
  </a>
</div>