<div class="container">
  <h2>welcome, <%= user.username %>!</h2>
  <p><%= user.email %></p>
</div>

<div class="container albums">
  <h3>Albums</h3>

  <a href="#"><div class="album">
    <div class="picture"></div>
    <p class="album-title">Album 1</p>
  </div></a>
  <a href="#"><div class="album">
    <div class="picture"></div>
    <p class="album-title">Album 2</p>
  </div></a>
  <a href="#"><div class="album">
    <div class="picture"></div>
    <p class="album-title">Album 3</p>
  </div></a>

  <a href="#"><div class="album">
    <div class="picture"></div>
    <p class="album-title">Album 4</p>
  </div></a>
  <a href="#"><div class="album">
    <div class="picture"></div>
    <p class="album-title">Album 5</p>
  </div></a>
  <a href="#"><div class="album">
    <div class="picture"></div>
    <p class="album-title">Album 6</p>
  </div></a>
</div>