<div class="container">
  <h2>welcome, <%= user.username %>!</h2>
  <p><%= user.email %></p>
</div>

<div class="container albums">
  <div class="album-nav">
    <h3 class="left">Albums</h3>
    <h3 class="right">
      <a class="new-album" href="/albums/new">Add Album</a>
    </h3>
  </div>

  <div class="all-albums">
    <% albums.each do |album| %>
      <%= erb :"/albums/_album", locals: { album: album } %>
    <% end %>
  </div>

</div>