<div class="container banner">
  <h1>welcome, <%= user.username %>!</h1>
</div>

<div class="content container dark-background">
  <div class="album-nav">
    <%= erb :"/user/_user_albums_nav" %>
  </div>

  <div class="scrapbook-container">
    <% albums.each do |album| %>
      <%= erb :"/albums/_album", locals: { album: album } %>
    <% end %>
  </div>

</div>

<div id="album-template" style="display: none;">
  <div class="polaroid" id="#">
    <a>
      <div class="picture">
        <img src="#" />
      </div>
      <p class="album-title">
        <b><span class="title">Album Title</span>: </b>
        #<span class="tag">Album Tag</span>
      </p>
    </a>
  </div>
</div>