<div class="container">
  <h2>welcome, <%= user.username %>!</h2>
  <p><%= user.email %></p>
</div>

<div class="container albums">
  <h3>Albums</h3>

  <% albums.each do |album| %>
    <%= erb :"/albums/_album", locals: { album: album } %>
  <% end %>

</div>