<div class="container banner">
  <h1>welcome, <%= user.username %>!</h1>
</div>

<div class="container dark-background">
  <div class="album-nav">
    <h3 class="left light-text">Albums</h3>
    <h3 class="right">
      <a class="add-album light-text" href="/albums/new">Add Album</a>
    </h3>
  </div>

  <div class="scrapbook-container">
    <% albums.each do |album| %>
      <%= erb :"/albums/_album", locals: { album: album } %>
    <% end %>
  </div>

</div>

<div id="album-template" style="display: none;">
  <a>
    <div class="polaroid" id="#">
      <div class="picture">
        <img src="#" />
      </div>
      <p class="album-title">
        <b><span class="title">Album Title</span>: </b>
        #<span class="tag">Album Tag</span>
      </p>
    </div>
  </a>
</div>