<div class="container">
  <h2>welcome, <%= user.username %>!</h2>
  <p><%= user.email %></p>
</div>

<div class="container albums">
  <h3>Albums</h3>

  <a href="#"><div class="album">
    <p>Album 1</p>
    <div class="picture"></div>
  </div></a>
  <a href="#"><div class="album">
    <p>Album 2</p>
    <div class="picture"></div>
  </div></a>
  <a href="#"><div class="album">
    <p>Album 3</p>
    <div class="picture"></div>
  </div></a>

  <a href="#"><div class="album">
    <p>Album 4</p>
    <div class="picture"></div>
  </div></a>
  <a href="#"><div class="album">
    <p>Album 5</p>
    <div class="picture"></div>
  </div></a>
  <a href="#"><div class="album">
    <p>Album 6</p>
    <div class="picture"></div>
  </div></a>
</div>