<div class="container">
  <h3>Log In</h3>

  <ul>
    <% errors.each do |error| %>
      <li class="error"><%= error %></li>
    <% end %>
  </ul>

  <p><a href="/instagram_auth">Sign In with Instagram</a></p>
</div>