
<div class="container">
  <h3>Register</h3>

  <% if user.errors.any? %>
    <ul>
    <% user.errors.full_messages.each do |error| %>
      <li class="error">
        <%= error %>
      </li>
    <% end %>
    </ul>
  <% end %>

  <p><a href="/instagram_auth">Register with Instagram (recommended)</a></p>

</div>