
<div class="container">
  <h3>Register</h3>

  <% if user.errors.any? %>
    <ul>
    <% user.errors.full_messages.each do |error| %>
      <li class="error">
        <%= error %>
      </li>
    <% end %>
    </ul>
  <% end %>

  <p>Register with Instagram (recommended)</p>
  <form action="/user/register/instagram" method="post">
    <button class="insta-login">Register</button>
  </form>

  <p>Or Register Here</p>
  <form action="/user/register" method="post">
    <p>
      <input type="text" name="user[username]" placeholder="Username" value="<%= user.username %>" />
    </p>
    <p>
      <input type="text" name="user[email]" placeholder="Email" value="<%= user.email %>" />
    </p>
    <p>
      <input type="password" name="user[password]" placeholder="Password" />
    </p>

    <input type="submit" value="Register" />
  </form>

</div>