
<div class="container">
  <h3>Register</h3>

  <% if user.errors.any? %>
    <ul>
    <% user.errors.full_messages.each do |error| %>
      <li class="error">
        <%= error %>
      </li>
    <% end %>
    </ul>
  <% end %>

<!-- Would prefer to be saving this url into a variable & redirecting that way... -->
<!-- But this works for now. -->
  <p><a href="/instagram_auth">Register with Instagram (recommended)</a></p>
<!--   <form action="/user/register/instagram" method="post">
    <button class="insta-login">Register</button>
  </form> -->



</div>