<div class="container banner">
  <h1>PhotoBox</h1>
</div>

<div class="container dark-background">
  <div class="scrapbook-container">
    <% albums.each do |album| %>
      <%= erb :"/albums/_album", locals: { album: album } %>
    <% end %>
  </div>
</div>
