<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="/css/scrapbook.css">
  <link rel="stylesheet" href="/css/polaroids.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>PhotoBox</title>
</head>
<body>
  <div class="nav-bar nav-bar-flex">
    <h2 class="left light-text"><a class="light-text" href="/">Home</a></h2>

    <% if session[:id] %>
      <div>
        <h2 class="right"><a class="light-text" href="/user/logout">Log Out</a></h2>
        <h2 class="right"><a class="light-text" href="/user">My Account</a></h2>
      </div>
    <% else %>
      <a href="/instagram_auth">
        <div class="vertical-center pad-right">
          <h2 class="right">
            Log In
          </h2>
          <img class="login-button" src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-128.png" />
        </div>
      </a>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
